@import url("//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css");

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 22px;
    background: #d3d3d3;
    color: rgb(0, 0, 0);
    overflow-x: hidden;
  }  

html {
    scroll-behavior: smooth;
}

.whitecontainer {
    background-color: #d3d3d3;
    max-width: 1200px;
    margin: 0 auto;
    padding: 100px 40px 100px;
}

h1 {
    font-size: 4em;
    color: white;
}

h2 {
    font-size: 2.3em;
}

h3 {
    font-size: 2em;
}

h4 {
    font-size: 1.5em;
}

.lalign {
    text-align: left;
}

.ralign {
    text-align: right;
}

.map {
    width: 100%;
    height: auto;
}

.parallaxm {
    /* Set a specific height */
    min-height: 400px; 
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .parallaxl {
    /* Set a specific height */
    min-height: 1000px; 
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }